<div class="mt-4 ml-4" *ngIf="hero$ | async as hero">
  <h2 class="text-xl font-bold">{{ hero.name | uppercase }} Details</h2>
  <div>id: {{ hero.id }}</div>
  <div class="mt-2">
    <label class="text-right" for="hero-name">Hero name: </label>
    <input
      class="border-2"
      id="hero-name"
      [(ngModel)]="hero.name"
      placeholder="name"
    />
  </div>
  <div class="mt-2">
    <label class="text-right" for="hero-name">Hero age: </label>
    <input
      class="border-2"
      id="hero-name"
      [(ngModel)]="hero.age"
      placeholder="age"
    />
  </div>
</div>
<div class="mt-4 ml-4">
  <button
    class="mr-2 rounded border-b-4 border-slate-700 bg-slate-500 py-2 px-4 font-bold text-white hover:border-slate-500 hover:bg-slate-400"
    (click)="goBack()"
  >
    Go back
  </button>
  <button
    class="mr-2 rounded border-b-4 border-slate-700 bg-slate-500 py-2 px-4 font-bold text-white hover:border-slate-500 hover:bg-slate-400"
    
  >
    Save
  </button>
</div>
