<h2>My Heroes</h2>

<!-- seznam herojev -->
<ul class="heroes">
  <li *ngFor="let hero of heroes$ | async">
    <a routerLink="/detail/{{ hero.id }}">
      <span class="badge">{{ hero.id }}</span> {{ hero.name }} |
      {{ hero.age }} years | {{ hero.gender }}
    </a>
    <button
      type="button"
      class="delete"
      title="delete hero"
      (click)="delete(hero)"
    >
      x
    </button>
  </li>
</ul>

<form [formGroup]="heroForm" (ngSubmit)="add()">
  <label for="hero-name">Hero Name*: </label>
  <input onClick="select()" id="hero-name" type="text" formControlName="name" required placeholder="Name"/>
  <div *ngIf="name?.invalid && (name?.dirty || name?.touched)"
    class="alert alert-danger">
  <div *ngIf="name?.errors?.['required']">
    Name is required.
  </div>
</div>
  <div class="alert alert-danger" *ngIf="!name?.invalid && !heroForm.valid && forbiddenNameValidator">
    The name is already taken.
  </div>

  <label for="age">Age*: </label>
  <input onClick="select()" id="age" type="text" formControlName="age" required/>
  <div *ngIf="age?.invalid" class="alert">The age must be 0 or higher.</div>

  <label for="gender">Gender: </label>
  <select name="gender" id="gender" formControlName="gender">
    <option value="" disabled selected>Select your option</option>
    <option value="Male">Male</option>
    <option value="Female">Female</option>
  </select>

  <p class="comp">Complete the fields with a "*" to enable button.</p>
  <button id="submit" type="submit" [disabled]="!heroForm.valid">Add hero</button>
</form>
