<h2>My Heroes</h2>

<!-- seznam herojev -->
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{ hero.id }}">
      <span class="badge">{{ hero.id }}</span> {{ hero.name }} |
      {{ hero.age }} years | {{ hero.gender }}
    </a>
    <button
      type="button"
      class="delete"
      title="delete hero"
      (click)="delete(hero)"
    >
      x
    </button>
  </li>
</ul>

<form [formGroup]="heroForm" (ngSubmit)="add()">
  <label for="hero-name">Hero Name*: </label>
  <input id="hero-name" type="text" formControlName="heroName" />

  <label for="age">Age*: </label>
  <input id="age" type="text" formControlName="age" />

  <label for="gender">Gender: </label>
  <select name="gender" id="gender" formControlName="gender">
    <option value="" disabled selected>Select your option</option>
    <option value="Male">Male</option>
    <option value="Female">Female</option>
  </select>

  <p>Complete the fields with a "*" to enable button.</p>
  <button type="submit" [disabled]="!heroForm.valid">Add hero</button>
</form>
