<div class="ml-4" id="search-component">
  <label class="mt-4 block text-base font-bold" for="search-box"
    >Hero Search:</label
  >
  <input
    class="mt-2 w-44 border-2"
    #searchBox
    id="search-box"
    (input)="search(searchBox.value)"
  />

  <ul
    *ngIf="searchBox.value !== ''"
    class="ml-4 block w-44 cursor-pointer border bg-slate-50 p-1"
  >
    <li
      class="p-1 hover:bg-slate-400"
      *ngFor="let hero of heroes$ | async"
      routerLink="/detail/{{ hero.id }}"
    >
      <a class="select-none">
        {{ hero.name }}
      </a>
    </li>
  </ul>
</div>
